{% extends 'members/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">
            <p>Are you sure you want to delete relatives of <strong>{{relative.member.member_id}} - {{relative.member.full_name}}</strong></p>

            <form method="POST" action="{% url 'delete_relative' relative.id %}">
                {% csrf_token %}
                <a class="btn btn-sm btn-warning" href="{% url 'all_relative' %}">Cancel</a>
                <input class="btn btn-sm btn-danger" type="submit" name="confirm">
            </form>

        </div>
    </div>
</div>
    
{% endblock content %}