{% extends 'members/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <div class="card card-body">
            <p>Are you sure you want to delete child <strong>{{child.full_name}}</strong> of "{{child.member.member_id}} - {{child.member.full_name}}"</p>

            <form method="POST" action="{% url 'delete_child' child.id %}">
                {% csrf_token %}
                <a class="btn btn-sm btn-warning" href="{% url 'all_children' %}">Cancel</a>
                <input class="btn btn-sm btn-danger" type="submit" name="confirm">
            </form>

        </div>
    </div>
</div>
    
{% endblock content %}